@model ngCooking_Julien.Models.RecetteViewModel

@if (Model.search.Count == 0)
{
    <p class="col-xs-12 blank">Aucune recette ne correspond à votre recherche</p>
}
else
{
    <div class="recettes row">
        @foreach (var item in Model.search)
        {
        <div class="col-xs-6 col-sm-3 recette">
            <a href="/Receipe/Details/@item.id">
                <img src=~/Content/@item.picture alt=@item.name>
                <div class="top" title=@item.rating>
                    <span>
                        @for (int i = 5; i > 0; i--)
                        {
                            if (i <= @item.rating)
                            {
                                <span class="glyphicon glyphicon-heart"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-heart-empty"></span>
                            }
                        }
                    </span>
                </div>
                <div class="bot">
                    <p class="name">@item.name</p>
                </div>
            </a>
        </div>
        }
    </div>
}

