@model int

<div class="desc">
    <p>Partagez vos meilleures recettes avec<br />la communauté NgCooking</p>
    <p><a class="link" href="/Receipe/Display"><strong>@Model recettes</strong> à découvrir !</a></p>
</div>
